.one{
    color: antiquewhite;
    background-color: aliceblue;
    font-family: 方正舒体;
    font-size: 15px;
}
.two{
    color: aqua;
    background-color: #ffdd10;
    font-family: 方正姚体;
    font-size: 18px;
}
.three{

}